page-login {
/* You can add global styles to this file, and also import other style files */ 
ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 15%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .centrar{
    position: absolute;
    top: 35%;
    left:50%;
    width: 100%;
    margin-left:-50%;
    height: 100%;
    margin-top:-150px;
    padding:5px;
  }

  .imagen{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
  }

  .bordes-card{
    border-radius: 15px 15px 0px 0px;
  }

  .back{
    background-color: color($colors, fondo, base);
  }

  .texto-centrado{
    text-align: center;
  }
}
